:root {
    --yellow-light:#FFD347;
    --yellow-dark:#FFCF35;
    --muted-yellow:#F4DD9B;
    --blue-dark:#173B53;
    --blue-pop:#79C9C9;
    --pink-pop:#FFA3B0;
}

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  width: 100vw;
}

.root {
  height: 100vh;
}

.image img {
  object-fit: 'contain';
}

.paper {
  margin: 8px;
  display: 'flex';
  flex-direction: 'column';
  align-items: 'center';
}




