:root {
    --yellow-light:#FFD347;
    --yellow-dark:#FFCF35;
    --muted-yellow:#F4DD9B;
    --blue-dark:#173B53;
    --blue-pop:#79C9C9;
    --pink-pop:rgba(255, 143, 143, 0.75);
}

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  width: 100vw;
}

.root {
  height: 100vh;
}

.image {
  background-image: url("./images/artlogo.png");
  background-repeat: no-repeat;
  background-size: 60vw;
  background-position: center;
}

.paper {
  margin: 8px;
  display: 'flex';
  flex-direction: 'column';
  align-items: 'center';
}




